<div class="user-edit">
 <div class="edit-title">Edition du profil utilisateur</div>
	<%= form_for(@user) do |f| %>
		<div class="primary-infos">
			<span class="legend">Nom utilisateur</span> <%= f.text_field(:username,  :placeholder => 'Nom utilisateur') %>
			<span class="legend">Adresse mail</span>
			<%= f.email_field(:email,  :placeholder => 'Nouvel email') %>
			<span class="legend">Sécurité</span>
			<div class="password">
				<%= f.password_field(:actual_password,  :placeholder => 'Mot de passe actuel') %>
				<%= f.password_field(:password,  :placeholder => 'Nouveau mot de passe') %>
				<%= f.password_field(:password_confirmation,  :placeholder => 'Confirmation') %>
			</div>
		</div>	
		<div class="secundary-infos">
			<span class="legend">Image du profil</span>
			<%= f.text_field(:picture,  :placeholder => 'Lien vers votre photo de profil') %><img src="<%= @user.picture %>" />
			<%= f.text_field(:birthdate, :placeholder => 'Date de naissance') %>
			<%= select_tag(:gender, options_for_select([['Homme', 0], ['Femme', 1]])) %>
			<%= f.text_field(:hobbies,  :placeholder => "Qu'aimez-vous faire ?") %>
			<%= f.text_field(:languages,  :placeholder => 'Quelles langues parlez-vous ?') %>
			<%= f.text_field(:job,  :placeholder => 'Quel est votre métier ?') %>
			<%= f.url_field(:website,  :placeholder => 'Un site internet ?') %>
		</div>	
		<div class="actions">
			<%= f.submit 'Envoyer', :class => 'submit-btn' %>
		</div>
	<% end %> 
</div>