<%= form_for(Post.new) do |f| %> 
  <div class="category">
    <%= f.label 'Catégorie' %>
    <%= select('post', 'category_id', Category.all.collect {|p| [ p.name, p.id ] })%>
  </div>
  <div class="source">
    <%= f.label 'Source' %>
    <%= f.text_field :source %>
  </div>
  <br />
  <div class="content-new">
    <%= f.label 'Contenu' %>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn'%>
  </div>
<% end %>