<div class="post-container post-<%= post.id %>">
    <div class="post-header">
        <%= link_to user_path(User.find(post.user_id)) do %> 
            <%= image_tag User.find(post.user_id).picture %>
            <div class="user-text">
                <span class="user-name"><%= User.find(post.user_id).username %></span>       
                <span class="user-title">Novice</span>
            </div>
        <% end %>
        <span class="user-points">4.292</span>
        <div class="user-actions">
            <% if current_user and !current_user.follow? User.find(post.user_id) %>
                <%= link_to '',  user_follow_path(post.user_id), {remote: true, class: 'add-user' } %>
            <% end %>
            <%= link_to '', '#', :class => 'mail-user' %>
        </div>
        <div class="moderation">
            <% if params[:controller] == 'communities' %>
                <% if current_user and Community.find(params[:id]).admins_row.include? current_user.id %>
                    <div class="btn-group">
                      <button type="button" class="btn btn-xs"><i class="glyphicon glyphicon-wrench"></i></button>
                      <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#"class="add-toggle" data-toggle="modal" data-target="#edit-post">Editer</a></li>
                        <li><%= link_to 'Supprimer', post, method: :delete,  data: { confirm: 'Are you sure?' } %></li>
                        <li><a href="#">Rendre muet</a></li>
                        <li><a href="#">Bannir</a></li>
                      </ul>
                    </div>                  
                <% end %>
            <% end %>
        </div>
    </div>
    <%= link_to post_path(post), :class => 'post-link' do %>
        <div class="post-content">
            <%= post.content %>
        </div>
    <% end %>
    <div class="post-footer">
        <div class="votes">
            <%= link_to post.upvotes,  post_vote_path(post.id, :vote => 1), {remote: true, class: 'upvotes btn' } %>
            <%= link_to post.downvotes,  post_vote_path(post.id, :vote => 0), {remote: true, class: 'downvotes btn' } %>
        </div>
        <div class="blogging">
            <% if current_user and !current_user.favorite? post %>
                <%= link_to '',  post_favorite_path(post.id), {remote: true, class: 'favorite' } %>
            <% elsif current_user and current_user.favorite? post %>
                <%= link_to '',  post_favorite_path(post.id), {remote: true, class: 'unfavorite' } %>
            <% end %>
            <% if current_user and !current_user.reblog? post %>
                <%= link_to '',  post_reblog_path(post.id), {remote: true, class: 'reblog' } %>
            <% elsif current_user and current_user.reblog? post %>
                <%= link_to '',  post_reblog_path(post.id), {remote: true, class: 'unreblog' } %>
            <% end %>
        </div>
        <div class="share">
            <a href="#" class="facebook"></a>
            <a href="#" class="twitter"></a>
            <a href="#" class="google"></a>
        </div>
    </div>
</div>

<!-- Post edit modal -->

<div class="modal fade" id="edit-post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modal-edit-post">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <%= form_for(post) do |f| %> 
            <% if params[:controller] != 'communities' %>
                <div class="category">
                <%= f.label 'Catégorie' %>
                <%= select('post', 'category_id', Category.all.collect {|p| [ p.name, p.id ] })%>
                </div>
                <div class="source">
                  <%= f.label 'Source' %>
                  <%= f.text_field :source %>
                </div>
            <% end %>
            <div class="content-new">
                <%= f.text_area :content, :placeholder => 'Quelque-chose à nous dire ?' %>
            </div>
            <% if params[:controller] == 'communities' %>
                <%= hidden_field_tag :community, params[:id] %>
            <% end %>
            <div class="actions">
                <%= f.submit 'Envoyer', :class => 'submit-btn'%>
            </div>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


