<div class="post-user">
  <div class="user-picture" style='background-image: url(<%= Post.user(@post.user_id).picture_large %>);'></div> 
  <span class="post-username"><%= Post.user(@post.user_id).name %></span>
   <div class="user-actions">
      <% if current_user and !current_user.follow? User.find(@post.user_id) %>
          <%= link_to '',  user_follow_path(@post.user_id), {remote: true, class: 'add-user' } %>
      <% end %>
      <%= link_to '', '#', :class => 'mail-user' %>
      <span class="user-points"><%= User.find(@post.user_id).points %></span>
  </div>

</div>

<div class="show-post-content">
  <%= @post.content %>
</div>
<div class="post-social">
  <div class="votes">
    <%= link_to @post.upvotes,  post_vote_path(@post.id, :vote => 1), {remote: true, class: 'upvotes btn' } %>
    <%= link_to @post.downvotes,  post_vote_path(@post.id, :vote => 0), {remote: true, class: 'downvotes btn' } %>
  </div>
  <div class="share">
    <a href="#" class="facebook"></a>
    <a href="#" class="twitter"></a>
    <a href="#" class="google"></a>
    <a href="#" class="favorite"></a>
  </div>
</div>

<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'lesxviezvous'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    