<p id="notice"><%= notice %></p>


<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Upvotes:</b>
  <%= @post.upvotes %>
</p>

<p>
  <b>Downvotes:</b>
  <%= @post.downvotes %>
</p>

<p>
  <b>Fakevotes:</b>
  <%= @post.fakevotes %>
</p>

<p>
  <b>User:</b>
  <%= @post.user_id %>
</p>

<p>
  <b>Category:</b>
  <%= @post.category_id %>
</p>

<p>
  <b>Status:</b>
  <%= @post.status %>
</p>

<p>
  <b>Source:</b>
  <%= @post.source %>
</p>

<%= link_to "Downvote",  post_vote_path(@post.id, :vote => 0), remote: true %>
<%= link_to "Upvote",  post_vote_path(@post.id, :vote => 1), remote: true %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
