<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @communities.each do |community| %>
  <tr>
    <td><%= community.name %></td>
    <td><%= community.owner_id %></td>
    <td><%= community.public %></td>
    <td> <%= link_to 'Join',  community_join_path(community.id),  :class => 'add-user'  %></td>
    <td><%= link_to 'Show', community_path(community) %></td>
    <td><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>