<div class="community">
	<div class="community-header">
		<div class="profile-picture" style='background-image: url(<%= @community.picture %>);'>
		</div>
		<div class="community-main">
			<span class="community-name"><%= @community.name %></span>
			<div class="user-actions">
				<% if current_user and @community.admins_row.include? current_user.id  %>
					<%= link_to '',  edit_community_path(@community), {class: 'community-params', title: 'Rejoindre la communauté' } %>
				<% end %>
			    <% if current_user and !@community.include_user? current_user and !@community.invitations_row.include? current_user.id  %>
			       <%= link_to '',  community_join_path(@community.id), {remote: true, class: 'add-user', title: 'Rejoindre la communauté' } %>
			    <% elsif current_user and @community.include_user? current_user and @community.owner_id != current_user.id %>
			       <%= link_to '',  community_leave_path(@community.id), {remote: true, class: 'quit-grp', title: 'Quitter la communauté' } %>
			    <% end %>
			</div>
		</div>
		<div class="community-infos">
			<div class="description">
				<% if !@community.description.blank? %>
					<%= @community.description %>
				<% else %>
					<div class="user-list">
						<% @community.users.last(10).each do |u| %>
							<div class="mini-pic" style='background-image: url(<%= u.picture %>);'></div>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="attributes">
				<div class="info-row-1">
					<% if !@community.place.blank? %><div class="line"><span>Localisation</span> <%= @community.place %></div><% end %>
					<div class="line"><span>Nombre d'abonnés</span> <%= @community.user_count %></div>
					<div class="line"><span>Catégorie</span> <%= Category.find(@community.category_id).name %></div>
				</div>
			</div>
		</div>
	</div>
	<% if current_user and @community.writers_row.include? current_user.id %>
		<div class="community-post-form">
			<%= render 'posts/fields' %>
		</div>
	<% end %>

	<% @blogline.each do |post| %>
			<%= render 'posts/postline', {:post => post } %>
	<% end %>
</div>