<nav class="navbar navbar-blue navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header center-col">
    <ul class="nav nav-center">
      <li class="home"><%= link_to '', root_path %></li>
      <li class="title"><a class="navbar-brand" href="#">Lesaviezvous ?</a></li>
        <% unless current_user %>
          <li class="user"><%= link_to '', '/auth/identity/register' %></a></li>
        <% else %>
          <li class="user-connected"><img src="<%= current_user.picture %>" />
          <!--<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
          <%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
        <p>
          <strong>Don&rsquo;t use these services?</strong>
          <%= link_to "Create an account", "/auth/identity/register" %> or
          <%= link_to "login", "/auth/identity" %> with a password.
        </p>-->
        <% end %>
      <!--<li class="dropdown"> 
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </li>-->
    </ul>
  </div>
  <div class="navbar-nav">
    <% if current_user %>
      <div class="user-connected"><strong><%= current_user.name %></strong>
      <%= link_to "Sign out", signout_path, id: "sign_out" %></li>
    <% else %>
      <%= link_to "FB", "/auth/facebook", id: "sign_in" %>
      <%= link_to "TW", "/auth/twitter", id: "sign_in" %>
      <%= link_to "Create an account", "/auth/identity/register" %> or
      <%= link_to "login", "/auth/identity" %> with a password.
    <% end %>
  </div>
</nav>

