<nav class="navbar navbar-blue navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header center-col">
    <div class="nav nav-left">
      <input type="search" class="" placeholder="Rechercher un utilisateur, un groupe" />
    </div>
    <div class="nav-center">
      <div class="ls-menu">
        <%= link_to '', '#', :class => 'responsive-menu' %>
        <div class="navigation">
          <div class="title"><%= link_to 'Accueil', root_path, :class => '' %></div>
          <div class="add-toggle" data-toggle="modal" data-target="#add"><%= link_to 'Créer', '#' %></a></div>
          <div class="categories"><%= link_to 'Catégories', '#' %></div>
          <div class="navigation"><%= link_to 'Naviguer', '#' %></div>
        </div>
      </div>
      <div class="add-menu">
        <div class="title"><%= link_to 'Accueil', root_path, :class => '' %></div>
        <div class="add-toggle" data-toggle="modal" data-target="#add"><%= link_to 'Créer', '#' %></a></div>
      </div>
    </div>
    <div class="nav nav-right">
      <% unless current_user %>
          <div class="user" data-toggle="modal" data-target="#connect"><%= link_to '', '#' %></a></div>
        <% else %>
          <div class="user-connected">
            <%= link_to user_path(current_user), :class => 'picture-username' do %>
              <img src="<%= current_user.picture %>" />
              <%= current_user.name %>
            <% end %>
            <div class="user-icons">
                <span class="message-icon"></span>
                <span class="notif-icon"></span>
              </div>
        <% end %>
    </div>
    </div>
  </div>
</nav>

<!-- MODAL FOR LOGIN/SIGNUP -->

<div class="modal fade" id="connect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <ul class="nav nav-tabs" class="modal-title" id="myModalLabel">
          <li class="active"><a href="#connexion" data-toggle="tab">Connexion</a></li>
          <li><a href="#sign_up" data-toggle="tab">Inscription</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="connexion">
            <h3>Se connecter au réseau</h3>
            <div class="manual-login">
              <%= form_tag "/auth/identity/callback" do %>
                <%= text_field_tag :auth_key, '', :placeholder => 'Adresse mail' %>
                <%= password_field_tag :password, '',  :placeholder => 'Password' %>
                <%= submit_tag "Login", class: "btn btn-primary"%>
              <% end %>
            </div>
            <div class="social-login">
              Ou utilisez un de nos providers externe
              <div class="links">
                <%= link_to '', '/auth/twitter', :class => 'login-twitter' %>
                <%= link_to '', '/auth/facebook', :class => 'login-facebook' %>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="sign_up">
            <h3>S'inscrire manuellement</h3>
              <%= form_tag "/auth/identity/register" do %>
              <% if @identity && @identity.errors.any? %>
                <div class="error_messages">
                  <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
                  <ul>
                  <% @identity.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="name-field">
                <%= text_field_tag :name, @identity.try(:name),  :placeholder => 'Nom utilisateur' %>
              </div>
              <div class="mail-field">
                <%= text_field_tag :email, @identity.try(:email), :placeholder => 'Adresse mail' %>
              </div>
              <div class="password-conf">
                <%= password_field_tag :password, '', :placeholder => 'Mot de passe' %>
                <%= password_field_tag :password_confirmation, '', :placeholder => 'Confirmation' %>
              </div>
              <%= submit_tag "S'enregistrer", class: "btn btn-primary" %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL FOR GROUP/POST CREATION -->

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <ul class="nav nav-tabs" class="modal-title" id="myModalLabel">
          <li class="active"><a href="#post" data-toggle="tab">Post</a></li>
          <li><a href="#group" data-toggle="tab">Groupe</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="post">
            <h3>Soumettre une information</h3>
            <div class="modal-fields">
              <%= render 'posts/fields' %>
            </div>
          </div>
          <div class="tab-pane" id="group">
            <h3>Créer un groupe</h3>
            <%= form_tag '/communities/create' do %>
              <%= select_tag :category, options_from_collection_for_select(Category.all.collect, 'id', 'name') %>
              <div class="name">
                <%= text_field_tag :name, nil, :placeholder => 'Nom du groupe' %>
              </div>
              <div class="privacy">
                 <span>Groupe privé ? </span>
                <%= check_box_tag(:privacy, checked_value = false, unchecked_value = true) %>
              </div>
                <%= submit_tag "Créer", class: "btn btn-primary" %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
