<nav class="navbar navbar-blue navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header center-col">
    <div class="nav nav-left">
      <%= form_tag '/search' do %>
        <%= text_field_tag :query, params[:query], { :class => 'search', :placeholder => 'Rechercher un utilisateur, un groupe...', autocomplete: "off"} %>
        <%= submit_tag '', :class => 'search-submit' %>
      <% end %>
    </div>
    <div class="nav-center">
      <div class="ls-menu">
        <%= link_to '', '#', :class => 'responsive-menu' %>
        <div class="navigation">
          <div class="title"><%= link_to 'Accueil', root_path, :class => '' %></div>
          <div class="add-toggle" data-toggle="modal" data-target="#add"><%= link_to 'Créer', '#' %></a></div>
          <div class="categories"><%= link_to 'Catégories', '#' %></div>
          <div class="navigation"><%= link_to 'Naviguer', '#' %></div>
        </div>
      </div>
      <div class="add-menu">
        <div class="title"><%= link_to 'Accueil', root_path, :class => '' %></div>
        <div class="add-toggle" data-toggle="modal" data-target="#add"><%= link_to 'Créer', '#' %></a></div>
      </div>
    </div>
    <div class="nav nav-right">
      <% unless current_user %>
          <div class="user" data-toggle="modal" data-target="#connect"><%= link_to '', '#' %></a></div>
        <% else %>
          <div class="user-connected">
            <%= link_to user_path(current_user), :class => 'picture-username' do %>
              <img src="<%= current_user.picture %>" />
              <%= current_user.username %>
            <% end %>
            <div class="user-icons">
                <%= link_to '', edit_user_path(current_user), :class => 'message-icon' %>
                <%= link_to '', edit_user_path(current_user), :class => 'notif-icon' %>
                <%= link_to '', edit_user_path(current_user), :class => 'params-icon' %>
              </div>
        <% end %>
    </div>
    </div>
  </div>
</nav>

<!-- MODAL FOR LOGIN/SIGNUP -->

<div class="modal fade" id="connect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <ul class="nav nav-tabs" class="modal-title" id="myModalLabel">
          <li class="active"><a href="#connexion" data-toggle="tab">Connexion</a></li>
          <li><a href="#sign_up" data-toggle="tab">Inscription</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="connexion">
            <h3>Se connecter au réseau</h3>
            <div class="manual-login">
              <%= form_tag sessions_path do %>
                <%= text_field_tag :email, '', :placeholder => 'Adresse mail' %>
                <%= password_field_tag :password, '',  :placeholder => 'Password' %>
                <div class="checkbox">
                    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
                     <%= label_tag 'Se souvenir de moi' %>
                </div>
                <%= submit_tag "Login", class: "btn btn-primary"%>
              <% end %>
            </div>
          </div>
          <div class="tab-pane" id="sign_up">
            <h3>S'inscrire manuellement</h3>
              <%= form_for(User.new) do |f| %>
              <% if @identity && @identity.errors.any? %>
                <div class="error_messages">
                  <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
                  <ul>
                  <% @identity.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="name-field">
                <%= f.text_field :username, :placeholder => 'Nom utilisateur' %>
              </div>
              <div class="mail-field">
                <%= f.email_field :email, :placeholder => 'Adresse mail' %>
              </div>
              <div class="password-conf">
                <%= f.password_field :password, :placeholder => 'Mot de passe' %>
                <%= f.password_field :password_confirmation, :placeholder => 'Confirmation' %>
              </div>
              <%= f.submit "S'enregistrer", class: "submit-btn" %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL FOR GROUP/POST CREATION -->

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <ul class="nav nav-tabs" class="modal-title" id="myModalLabel">
          <li class="active"><a href="#post" data-toggle="tab">Post</a></li>
          <li><a href="#group" data-toggle="tab">Groupe</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="post">
            <h3>Soumettre une information</h3>
            <div class="modal-fields">
              <%= render 'posts/fields' %>
            </div>
          </div>
          <div class="tab-pane" id="group">
            <h3>Créer un groupe</h3>
            <%= form_tag communities_path do %>
              <%= select_tag :category, options_from_collection_for_select(Category.all.collect, 'id', 'name') %>
              <div class="name">
                <%= text_field_tag :name, nil, :placeholder => 'Nom du groupe' %>
              </div>
              <div class="privacy">
                 <span>Type</span>
                 <%= select_tag(:privacy, options_for_select([['Public', 'true'], ['Privé', 'false']])) %>
              </div>
              <%= submit_tag "Créer", class: "submit-btn" %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
