<nav class="navbar navbar-blue navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header center-col">
    <ul class="nav nav-center">
      <li class="home"><%= link_to '', root_path %></li>
      <li class="title"><a class="navbar-brand" href="#">Lesaviezvous ?</a></li>
        <% unless current_user %>
          <li class="user" data-toggle="modal" data-target="#myModal"><%= link_to '', '#' %></a></li>
        <% else %>
          <li class="user-connected"><img src="<%= current_user.picture %>" />
          <!--<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
<%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
<p>
<strong>Don&rsquo;t use these services?</strong>
<%= link_to "Create an account", "/auth/identity/register" %> or
<%= link_to "login", "/auth/identity" %> with a password.
</p>-->
        <% end %>
      <!--<li class="dropdown">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</li>-->
    </ul>
  </div>
</nav>

<!-- MODAL FOR LOGIN/SIGNUP -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <ul class="nav nav-tabs" class="modal-title" id="myModalLabel">
          <li class="active"><a href="#connexion" data-toggle="tab">Connexion</a></li>
          <li><a href="#sign_up" data-toggle="tab">Inscription</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="connexion">
            <h3>Se connecter au réseau</h3>
            <div class="manual-login">
              <%= form_tag "/auth/identity/callback" do %>
                <%= text_field_tag :auth_key, '', :placeholder => 'Adresse mail' %>
                <%= password_field_tag :password, '',  :placeholder => 'Password' %>
                <%= submit_tag "Login", class: "btn btn-primary"%>
              <% end %>
            </div>
            <div class="social-login">
              Ou utilisez un de nos providers externe
              <div class="links">
                <%= link_to '', 'auth/twitter', :class => 'login-twitter' %>
                <%= link_to '', 'auth/facebook', :class => 'login-facebook' %>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="sign_up">
            <h3>S'inscrire manuellement</h3>
              <%= form_tag "/auth/identity/register" do %>
              <% if @identity && @identity.errors.any? %>
                <div class="error_messages">
                  <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
                  <ul>
                  <% @identity.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="name-field">
                <%= text_field_tag :name, @identity.try(:name),  :placeholder => 'Nom utilisateur' %>
              </div>
              <div class="mail-field">
                <%= text_field_tag :email, @identity.try(:email), :placeholder => 'Adresse mail' %>
              </div>
              <div class="password-conf">
                <%= password_field_tag :password, '', :placeholder => 'Mot de passe' %>
                <%= password_field_tag :password_confirmation, '', :placeholder => 'Confirmation' %>
              </div>
              <%= submit_tag "S'enregistrer", class: "btn btn-primary" %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

