<!DOCTYPE html>
<html>
<head>
  <title>Lesxviezvous</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <%= stylesheet_link_tag    "layout/application", :media => "all" %>
  <%= javascript_include_tag "layout/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<table id="container_header">
  <tr>
    <td id="left_header">
        <img src="assets/home.png"/>
    </td>
    <td id="header">
        <p class="title_page">Lesxviezvous ?</p>
    </td>
    <td id="right_header">
        <img src="assets/User.png"/>
    </td>
  </tr>
</table>
<div id="container_ad_midtop">
  <div class="adds" style="width:768px;height:100%;margin:auto;"></div>
</div>
<div id="user-widget" style="display:none;">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
	<p>
	  <strong>Don&rsquo;t use these services?</strong>
	  <%= link_to "Create an account", "/auth/identity/register" %> or
	  <%= link_to "login", "/auth/identity" %> with a password.
	</p>
  <% end %>
</div>
<%= yield %>
</body>
</html>
